@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'regular';
  src: url('/font/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'medium';
  src: url('/font/Pretendard-Medium.otf');
}

@font-face {
  font-family: 'light';
  src: url('/font/Pretendard-Light.otf');
}

@font-face {
  font-family: 'extra_light';
  src: url('/font/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: 'thin';
  src: url('/font/Pretendard-thin.otf');
}

@font-face {
  font-family: 'semi_bold';
  src: url('/font/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'bold';
  src: url('/font/Pretendard-Bold.otf');
}

@font-face {
  font-family: 'extra_bold';
  src: url('/font/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'black';
  src: url('/font/Pretendard-Black.otf');
}